<!--header start-->
            <header class="BBorder">
                <!--header top strip begins-->
                <div class="TSB">
                    <div class="MB clearfix">
                        <ul class="LB inline">
                            <li class="BMargin TD">
                                <a href="http://www.redbus.in" title="redBus.in">Home</a>
                            </li>
                            <li class="BMargin TD">
                                <a href="http://www.redbus.in/TicketStatus.aspx" title="Print/SMS Your ticket">Print/SMS Ticket</a>
                            </li>
                            <li class="BMargin TD">
                                <a href="http://www.redbus.in/Cancel_refund.aspx?utm_source=home&utm_medium=web&utm_campaign=cancellation" title="Cancel/Refund">Easy Cancel/Refund </a>
                            </li>
                        </ul>
                        <ul class="RB Small PosR">
                            <li class="LB BMargin">Need Help? Call</li>
                            <li class="LB XBlack BMargin PosR TextSemiBold Hide" id = "hotelCallcenter">
                                <div id="callHotel" data-default="hotel-number" class="LB BMargin">Hotels</div>
                                <div class="RB">
                                    <span data-default="080 30970888">  080 30970888</span>
                                </div>
                            </li>
                            <li class="LB XBlack BMargin PosR" id="tollCity">
                                <div id="contact" class="LB Pointer">
                                    <div id="tollcityName" data-default="Toll Number" class="LB">Toll Number</div>
                                    <div class="RB">
                                        <span id="tollcustcareNum" data-default="1860-300-10101">1860-300-10101</span>
                                        <span class="numArrow"></span>
                                    </div>
                                </div>
                                <!--City DropDown Starts-->
                                <ul  id="tollphOptions" class="DropList FBorder XSmall Hide">
                                    <li id="551" data-cityName="Ahmedabad" data-cityNumber="(079) 394 12345"><a href="javascript:void(0);"><span class="LB">Ahmedabad</span><span class="RB">(079) 394 12345</span></a></li>
                                    <li id="122" data-cityName="Bangalore" data-cityNumber="(080) 394 12345"><a href="javascript:void(0);"><span class="LB">Bangalore</span><span class="RB">(080) 394 12345</span></a></li>
                                    <li id="469" data-cityName="Baroda" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Baroda</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="74676" data-cityName="Bhubaneswar" data-cityNumber="(0674) 394 1234"><a href="javascript:void(0);"><span class="LB">Bhubaneswar</span><span class="RB">(0674) 394 1234</span></a></li>
                                    <li id="833" data-cityName="Chandigarh" data-cityNumber="(011) 394 12345"><a href="javascript:void(0);"><span class="LB">Chandigarh</span><span class="RB">(011) 394 12345</span></a></li>
                                    <li id="123" data-cityName="Chennai" data-cityNumber="(080) 394 12345"><a href="javascript:void(0);"><span class="LB">Chennai</span><span class="RB">(080) 394 12345</span></a></li>
                                    <li id="216" data-cityName="Cochin" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Cochin</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="141" data-cityName="Coimbatore" data-cityNumber="(0422) 394 1234"><a href="javascript:void(0);"><span class="LB">Coimbatore</span><span class="RB">(0422) 394 1234</span></a></li>
                                    <li id="733" data-cityName="Delhi" data-cityNumber="(011) 394 12345"><a href="javascript:void(0);"><span class="LB">Delhi</span><span class="RB">(011) 394 12345</span></a></li>
                                    <li id="124" data-cityName="Hyderabad" data-cityNumber="(040) 394 12345"><a href="javascript:void(0);"><span class="LB">Hyderabad</span><span class="RB">(040) 394 12345</span></a></li>
                                    <li id="210" data-cityName="Goa" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Goa</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="137" data-cityName="Guntur" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Guntur</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="313" data-cityName="Indore" data-cityNumber="(0731) 394 1234"><a href="javascript:void(0);"><span class="LB">Indore</span><span class="RB">(0731) 394 1234</span></a></li>
                                    <li id="807" data-cityName="Jaipur" data-cityNumber="(0141) 394 1234"><a href="javascript:void(0);"><span class="LB">Jaipur</span><span class="RB">(0141) 394 1234</span></a></li>
                                    <li id="74820" data-cityName="Kolkata" data-cityNumber="(033) 394 12345"><a href="javascript:void(0);"><span class="LB">Kolkata</span><span class="RB">(033) 394 12345</span></a></li>
                                    <li id="126" data-cityName="Madurai" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Madurai</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="462" data-cityName="Mumbai" data-cityNumber="(022) 394 12345"><a href="javascript:void(0);"><span class="LB">Mumbai</span><span class="RB">(022) 394 12345</span></a></li>
                                    <li id="624" data-cityName="Nagpur" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Nagpur</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="233" data-cityName="Pondicherry" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Pondicherry</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="130" data-cityName="Pune" data-cityNumber="(020) 394 12345"><a href="javascript:void(0);"><span class="LB">Pune</span><span class="RB">(020) 394 12345</span></a></li>
                                    <li id="472" data-cityName="Rajkot" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Rajkot</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="473" data-cityName="Surat" data-cityNumber="(0261) 394 1234"><a href="javascript:void(0);"><span class="LB">Surat</span><span class="RB">(0261) 394 1234</span></a></li>
                                    <li id="221" data-cityName="Trichy" data-cityNumber="1860-300-10101"><a href="javascript:void(0);"><span class="LB">Trichy</span><span class="RB">1860-300-10101</span></a></li>
                                    <li id="134" data-cityName="Vijayawada" data-cityNumber="(0866) 394 1234"><a href="javascript:void(0);"><span class="LB">Vijayawada</span><span class="RB">(0866) 394 1234</span></a></li>
                                    <li id="248" data-cityName="Vishakhapatnam" data-cityNumber="(0891) 394 1234"><a href="javascript:void(0);"><span class="LB">Vishakhapatnam</span><span class="RB">(0891) 394 1234</span></a></li>
                                </ul>
                                <!--City DropDown Ends-->
                            </li>
                            <!--City Selector Ends-->
                        </ul>
                    </div>
                </div>
                <!--header top strip ends-->
                <div class="MB">
                    <div class="mainHeader BoxModel clearfix">
                        <div class="LB XXXBMargin">
                            <img src="http://st.redbus.in/assets/images/logo/b_logo.png" id="ctl00_imgdiv" width="103" height="56" alt="redBus.in" title="redBus.in India&#39;s #1 Bus Booking Site" />
                        </div>
                        <div id="ctl00_busdiv" class="LB P17 bCrumbs">
                            <a href="/" class="home-page active">Home</a>
                            <a href="#/edit" class="edit-user PosR">Edit Details</a>
                        </div>
                        <div id="ctl00_headerdiv" class="RB">
                            <div class="securetxt">SAFE & SECURE<br /> ONLINE PAYMENTS</div>
                        </div>
                        <h3 class="adserverBlock Hide"></h3>
                    </div>
                </div>
                <div class="adImages">
                    <!--Ad begins-->
                    <div class="bannerImage Hide"></div>
                    <!--Ad ends-->
                </div>
            </header>
            <!--header end-->